@{
    ViewBag.Title = "产品服务";
}


<section class="product-head-bg"></section>

<!-- 产品特点 -->
<section class="product-head-trait">
    <div class="product-head-triat-wrap table">
        <div class="row">
            <div class="cell triat-1">
                <p>到账快</p>
                <p>最快1个工作日到账</p>
            </div>
            <div class="cell triat-2">
                <p>灵活还款</p>
                <p>可选不同额度与还款方式</p>
            </div>
            <div class="cell triat-3">
                <p>额度高</p>
                <p>最低可借1万最高50万</p>
            </div>
            <div class="cell triat-4">
                <p>无抵押</p>
                <p>不用抵押任何资产</p>
            </div>
        </div>
    </div>
</section>
<!-- end 产品特点 -->

<section class="product-wrap">
    <section class="product-content-wrap">

        <section class="product-content-box">
            <div class="product-content-item-title">所有产品</div>

            <div class="product-content-item">

                @foreach (var product in @ViewBag.ProductList)
                {
                    <figure class="product-item box-shadow-2px" onclick="location.href='/Product/Detail?nav=30&id=@product.id'">
                        <img src="@product.picUrl" width="240" height="179" />
                        <figcaption>
                            <p><b>@product.name</b></p>
                            <p>
                                <div class="float-left">额度：<span class="product-item-red-text">@product.maxlimit</span>万</div>
                                <div class="float-right">期数：<span class="product-item-red-text">@product.periods</span>期</div>
                            </p>
                            <div class="clear"></div>
                            <p>适合群体：@product.fitGroup</p>
                        </figcaption>
                    </figure>
                }

            </div>

        </section>

        <div class="clear"></div>

        <hr class="product-item-split">

        <section class="product-content-box">
            <div class="product-content-item-title">热门产品</div>

            <div class="product-content-item">

                @foreach (var product in @ViewBag.HotProductList)
                {
                    <figure class="product-item box-shadow-2px" onclick="location.href='/Product/Detail?nav=30&id=@product.id'">
                        <img src="@product.picUrl" width="240" height="179" />
                        <figcaption>
                            <p><b>@product.name</b></p>
                            <p>
                                <div class="float-left">额度：<span class="product-item-red-text">@product.maxlimit</span>万</div>
                                <div class="float-right">期数：<span class="product-item-red-text">@product.periods</span>期</div>
                            </p>
                            <div class="clear"></div>
                            <p>适合群体：@product.fitGroup</p>
                        </figcaption>
                    </figure>
                }


            </div>

        </section>

    </section>

    <div class="clear"></div>
</section>