@{
    ViewBag.Title = "营业网点";
}
<section class="department-head-bg">
    <table>
        <tr>
            <td>
                <div class="department-head-search box-shadow-2px">
                    <input type="text" placeholder="请输入城市或营业部查询" id="department_input_id" maxlength="100">
                    <button id="department_search">搜索</button>
                </div>
            </td>
        </tr>
    </table>
</section>

<section class="department-search-wrap">
    <div>请选择查询的城市：</div>
    <div id="province_wrap" class="department-province"><select name="" id=""></select><i></i></div>
    <div id="city_wrap" class="department-city"><select name="" id=""></select><i></i></div>
    <div id="departmentQuery" class="department-query"></div>
</section>

<section class="department-map-wrap">
    <section class="department-map">

        <!-- baidu地图 -->
        <div class="dm-map box-shadow-2px">
            <div class="dm-map-left">
                <hr class="red-hr">
                <p class="product-intro-title">营业部</p>
                <div class="dm-baidu-map" id="baidu_map">
                </div>
            </div>

            <div class="dm-map-right">
                <p>营业部服务</p>
                <p>至今吉信金融已在全国铺设30家营业网点，基本覆盖全国主要城市。</p>
            </div>

        </div>

        @{
             int i = 1;
             var departmentList = ViewBag.DepartmentList;
             var queryCondition = ViewBag.QueryCondition;
        }
        <!-- table列表 -->
        <p class="dm-list-title"><span>全国</span>·营业部（<span>@departmentList.Count</span>）</p>

        <div class="dm-list table box-shadow-2px">
            @if (departmentList.Count == 0)
            {
               <div style="width:970px;text-align:center;">查无营业部</div>
            }
            else { 
                foreach (var branch in departmentList)
                {
                    <div class="row@(i%2==0?" even":"")">
                        <div class="cell"><i style="@(i>9?"padding-left:7px;":"")">@i</i><span>@branch.name</span></div>
                        <div class="cell">@branch.address</div>
                        <div class="cell">@branch.tel</div>
                        <div class="dm-longitude-latitude" style="display:none;">@branch.longitude,@branch.latitude</div>
                    </div>
                    i = i + 1;
                }
            }
        </div>

    </section>
</section>

<!--
<script src="../../Scripts/jplaceholder.js"></script>
-->
<script src="../../Scripts/region_province.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=IkRmswcLmYhrGkksV9eUwkYl"></script>

<script type="text/javascript">
    ; (function () {

        function Branch() {
            this.map = null,
            this.initMap = function () {
                this.map = new BMap.Map("baidu_map");
                // 启用滚轮放大缩小，默认禁用
                this.map.enableScrollWheelZoom();
                // 默认定位深圳，放大级别13
                this.map.centerAndZoom(new BMap.Point(114.066035, 22.552459), 11);

                // var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
                // var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
                //var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}); //右上角，仅包含平移和缩放按钮

                this.map.addControl(new BMap.NavigationControl());
            },
            this.bindEvent = function () {
                var _this = this;
                // 搜索
                $("#department_search,#departmentQuery").click(function () {
                    _this.search(_this.getDepartmentInputValue());
                });

                $("#department_input_id").keydown(function (e) {
                    if (e.keyCode == 13) {
                        _this.search(_this.getDepartmentInputValue());
                    }
                });
            },
            this.search = function () {

                var queryKey = arguments[0];
                if (/[\~\!\#\>\<\?\/\$\%\^\&\*\(\)@@]/gi.test(queryKey)) {
                    this.initTips({ txt: '搜索关键字含有特殊字符!', bgcolor: '#FF0000' });
                    return;
                }

                var city = $("#city").val();
                if(city == undefined){
                    city = "";
                }
                location.href = "/Department/QueryBranch?nav=40&province=" + $("#province option:selected").text() + "&city=" + city + "&queryKey=" + queryKey;

            },
            this.getDepartmentInputValue = function () {

                return $("#department_input_id").val();

                /**
                var $this = $("#department_input_id"), val = $this.val();
                if ($this.val() == $this.attr("placeholder")) {
                    val = '';
                }
                return val;
                **/
            },
            this.initSearchCondition = function () {

                if ("@queryCondition.queryKey") {
                    $("#department_input_id").val("@queryCondition.queryKey");
                }

                if ("@queryCondition.province") {
                    $("#province").find("option").each(function () {
                        var $this = $(this);
                        if ($this.text() == "@queryCondition.province") {
                            $this.attr("selected", true);
                        }
                    });

                    $("#province").change();

                    $("#city").find("option").each(function () {
                        var $this = $(this);
                        if ($this.text() == "@queryCondition.city") {
                            $this.attr("selected", true);
                        }
                    });

                }
            },
            this.loadMapData = function () {

                var points = [];

                // 获取经纬度和地址
                $(".dm-list > div").each(function () {
                    var $this = $(this).children();
                    var ll = $this.get(3).innerText.split(",");
                    var address = $this.get(1).innerText;
                    points.push({
                        longitude: ll[0],
                        latitude: ll[1],
                        address: address
                    });
                });

                // 将经纬度和地址绘制到地图上
                for (var i = 0, j = points; i < j.length; i++) {

                    var point = j[i];

                    var marker = new BMap.Marker(new BMap.Point(point.longitude, point.latitude));

                    //marker.setLabel(new BMap.Label(point.address, { offset: new BMap.Size(20, -10) }));

                    this.map.addOverlay(marker);

                    this.map.setCenter(new BMap.Point(point.longitude, point.latitude));
                }
            },
            this.initTips = function () {
                var options = $.extend({ txt: '这里可以输入城市或营业部', bgcolor: '#3595CC' },arguments[0]);
                // 因为ie不支持placeholder,这里采用tip来进行提示
                layer.tips(options.txt, $("#department_input_id"), {
                    tips: [1, options.bgcolor],
                    time: 100000
                });
            },
            this.init = function () {

                this.initMap();

                // this.initTips();

                this.bindEvent();

                this.initSearchCondition();

                this.loadMapData();

            }
        }

        var branch = new Branch();
        branch.init();

        $.branch = branch;

    })();

</script>