@{
    ViewBag.Title = "专业成就普惠金融 - 吉信金融";
}

<link href="/Plugins/unslider/css/unslider.css" rel="stylesheet" />
<script src="/Plugins/unslider/js/unslider.js"></script>

<!-- 首页banner -->
<section class="home-banner">

    <div class="banner" id="banner">
        <ul>
            <li>
                <a href="javascript:void(0);" onclick="Window.JxWebSite.Home.toOnlineApply()"><img src="../../images/banner01.png" alt="" width="100%" height="100%"/></a>
            </li>
            <li>
                <a href="~/App?nav=70"><img src="../../images/banner02.png" alt=""  width="100%" height="100%" /></a>
            </li>
        </ul>

        <div class="swap-banner-wrap">
            <div class="swap-btn">
                <img class="current" src="../../images/banner01.png" width="80" height="50" data-sort="1" />
                <img src="../../images/banner02.png" width="80" height="50" data-sort="2">
            </div>
        </div>
    </div>

</section>


<!-- end首页banner -->
<!-- 特别消息显示区域 -->
<section class="info">
    <div class="info-wrap">
        <span class="float-left info-msg">
            <!-- <b>特别关注：</b>吉信正式运营一周年,隆重推出12月优惠活动 -->
            <!-- 这里滚动显示借款信息，每次一条,3s滚动一次 -->
            @*湖北武汉李先生借款4188元，用于购买6516G*@
        </span>
        <span class="float-right info-more"><a href="~/Product?nav=30">了解详情</a></span>
    </div>
</section>
<!-- end特别消息显示区域 -->
<!-- 产品中心区域 -->
<section class="product-center">
    <div class="product-nav-wrap">
        <nav class="product-nav">
            <ul>
                <li><a href="/Product?nav=30">产品中心</a></li>
            </ul>
        </nav>
    </div>
    <div class="product-detail-wrap">
        @{int i = 1;}
        
        @foreach (var product in ViewBag.ProductList)
        {
            <div class="float-left product-detail-box" data-product-id="@product.id">
                <div class="product-detail-btn-wrap" ><span>了解详情</span></div>
            @if(i%2 == 0){
                <div class="product-detail-img">
                    <img src="@product.homePicUrl" alt="@product.name" title="@product.name" width="100%" height="100%" />
                </div>
                <div class="product-detail-descript">
                    <p>@product.name</p>
                    <p>贷款额度：@product.maxlimit</p>
                    <p>贷款期数：@product.periods</p>
                    <p>客户群体：@product.fitGroup</p>
                </div>
            }
            else
            {
                <div class="product-detail-descript">
                    <p>@product.name</p>
                    <p>贷款额度：@product.maxlimit</p>
                    <p>贷款期数：@product.periods</p>
                    <p>客户群体：@product.fitGroup</p>
                </div>
                <div class="product-detail-img">
                    <img src="@product.homePicUrl" alt="@product.name" title="@product.name" width="100%" height="100%" />
                </div>
            }
            </div>
            i++;
        }
    </div>
</section>
<!-- end产品中心区域 -->
<!-- 新闻中心与在线预约 -->
<section class="news-onlineApply">
    <!-- 新闻中心 -->
    <section class="news-wrap float-left table">
        <div class="title-wrap">
            <b><a href="/News?nav=50">新闻中心</a></b>
        </div>
        <!-- 显示10条新闻 -->
        @foreach (var news in ViewBag.NewsList)
        {
        <div class="row">
            <div class="cell"><a href="/News/Detail?nav=50&id=@news.id" >@news.title</a></div>
            <div class="cell">@DateTime.Parse("" + @news.createDate + "").ToString("yyyy/MM/dd")</div>
        </div>
        }
    </section>
    <!-- 在线预约 -->
    <section class="online-apply-wrap float-right" id="online_apply_wrap">
        <div class="online-apply-form-wrap">
        </div>
    </section>
</section>

<!-- end新闻中心与在线预约 -->
<!-- 品牌宣传 -->
<section class="brand">
    <div class="descript">
        <span>品牌实力</span>
        <p style="padding-top:10px;">深圳市前海吉信互联网金融服务有限公司（简称“吉信金融”）成立于2014年7月，总部位于深圳CBD中航中心，是一家致力于普惠金融的国资控股公司，以协助银行及非银行金融机构为小微企业、个体工商户及白领人群提供快速简便、免抵押、免担保小微信贷金融服务为宗旨。</p>
        <p>截至2016年，吉信金融已建立起1000人的经营队伍，开业30家营业部，使得近13000名客户享受到了普惠金融服务。吉信金融业已成功打造出自己的业务系统和风险体系，建立起稳定的资金渠道，获得了诸多合作伙伴的认可。</p>
    </div>
    <div class="lead">
        <div class="lead-wrap lead-dsz">
            <p>李豫江先生（董事长）</p>
            <p>哈尔滨工业投资集团高管，历任哈尔滨轻工资产经营公司办公室副主任、改革处副处长，哈尔滨工业资产经营公司战略发展副部长、部长，哈尔滨古铁市场有限公司总经理，哈尔滨鑫瑞融资租凭有限公司董事长。</p>
        </div>
        <div class="lead-wrap lead-zjl">
            <p>龚勇先生（总经理）</p>
            <p>曾任中安信业高管，历任店长、区域经理、大区经理、金融机构部总监，小额贷款行业从业经验10年以上，曾任深圳市中安财富资产管理有限公司执行董事、深圳普惠安投资管理有限公司董事总经理。</p>
        </div>
    </div>
    <div class="pic"></div>
</section>
<!-- end品牌宣传 -->
<!-- 品质宣传 -->
<section class="quality-publicity" style="background: url('../images/background.png')">
     <div class="quality-publicity-wrap">
        <img src="../../images/quality1.png" alt="国内网络" width="248" height="120"/>
        <img src="../../images/quality2.gif" alt="在线预约" width="248" height="120" style="cursor:pointer;" onclick="Window.JxWebSite.Home.toOnlineApply()"/>
        <img src="../../images/quality3.png" alt="专业服务" width="248" height="120"/>
        <img src="../../images/quality4.png" alt="品质保证" width="248" height="120"/>
    </div> 
</section>
<!-- end品质宣传 -->
<!-- 友情连接 -->
<section class="links-wrap table">
    <!-- 4连接一行 -->
    <span>友情连接：</span>
    <div class="row">
        <div class="cell"><a href="http://www.hzbank.com.cn/" target="_blank"><img src="../../images/hzbank.png" alt="杭州银行" /></a></div>
        <div class="cell" style="text-align:center"><a href="http://www.bankofbeijing.com.cn/" target="_blank"><img src="../../images/bjbank.png" alt="北京银行" /></a></div>
        <div class="cell" style="text-align:center"><a href="http://www.boc.cn/" target="_blank"><img src="../../images/zgbank.png" alt="中国银行" /></a></div>
        <div class="cell" style="text-align:right"><a href="http://www.huaao-trust.com/" target="_blank"><img src="../../images/huaaoxintuo.png" alt="华奥信托" /></a></div>
    </div>
    <div class="row">
        <div class="cell"><a href="http://www.allinpay.com/" target="_blank"><img src="../../images/tlzf.png" alt="通联支付" /></a></div>
        <div class="cell" style="text-align:center"><a href="https://www.souyidai.com/" target="_blank"><img src="../../images/syd.png" alt="搜易贷" /></a></div>
        <div class="cell" style="text-align:center"><a href="http://www.88bank.com/" target="_blank"><img src="../../images/eltx.png" alt="e路同心" /></a></div>
        <div class="cell" style="text-align:right"><a href="http://www.darenloan.com/" target="_blank"><img src="../../images/darendai.png" alt="达人贷" /></a></div>
    </div>
</section>
<!-- end友情连接 -->

<script type="text/javascript">

    ; $(function () {

        var home = function (opts) {
            this.options = $.extend(true, home.DEFAULTS, opts);
            this.bannerSwapIdx = 0;
            this.init.call(this);
        }

        home.DEFAULTS = {

        }

        home.prototype = {
            constructor: home,
            init: function () {
                this._isBrowser();
                this._initBanner();
                this._initEvent();
                this._initTimeout();
                this.makeOnlineForm();
                this.loadBorrowInfo();
            },
            _isBrowser: function () {
                var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
            },
            _initEvent: function () {

                // 产品明细鼠标移入移出事件
                this._initProductDetailEvent();

                $(".product-detail-box").click(function () {
                    location.href ="/Product/Detail?nav=30&id="+$(this).data("product-id");
                });
            },
            _initProductDetailEvent: function () {
                $(".product-detail-box").hover(function () {
                    $(this).find(".product-detail-btn-wrap").show();
                }).mouseleave(function () {
                    $(this).find(".product-detail-btn-wrap").hide();
                });
            },
            // 初始化首页banner
            _initBanner: function () {

                var _this = this;

                var slidey  = $('#banner').unslider({
                    speed: 500,
                    delay: 3000,
                    complete: function () {
                        //_this._changeBannerBtn(slidey.data('unslider').current + 1);
                        _this._changeBannerBtn(arguments[1] + 1);
                    },
                    keys: true,
                    dots: true,
                    fluid: true
                });


                //banner按钮切换
                $(".swap-btn").find("img").click(function (a, b, c) {
                    var i = parseInt($(this).data("sort"));
                    _this._changeBannerBtn(i);

                    slidey.data('unslider').move( i-1 );
                    
                });

            },
            _changeBannerBtn: function(){

                $(".swap-btn").find("img").removeClass('current');

                $(".swap-btn").find("img[data-sort='" + arguments[0] + "']").addClass('current');

            },
            _initTimeout: function () {
                // 初始化首页banner滚动定时器
                this.setIntervalBack(this._initBanner, null, 3000, this);

                // 每隔10分钟刷新一次借款信息
                this.setIntervalBack(this.loadBorrowInfo, null, 30000, this);
            },
            setIntervalBack: function (callback, args, time, _this) {
                return setInterval(function () {
                    callback.call(_this || window, args);
                }, time);
            },
            setTimeoutBack: function (callback, args, time, _this) {
                return setTimeout(function () {
                    callback.call(_this || window, args);
                }, time);
            },
            makeOnlineForm: function () {
                // 首页的在线预约和顶部的预约服务以及产品申请表单都是同一个，页面只能存在一个form表单，这里做下表单动态添加

                // 将弹出窗体的客户申请表单暂借用过来，并将其暂删除掉。
                var caf = $("#clientApplyForm");
                caf.remove();

                // 基于暂借过来的表单对象构建新的表单元素,用于显示在首页
                var $newCaf = $(caf[0].outerHTML);
                // 设置可见
                $newCaf.css("display", "block");

                //将新的表单元素显示到首页上
                $(".online-apply-form-wrap").html('<div class="online_apply_title">在线预约</div>'
                    + $newCaf[0].outerHTML);
            },
            loadBorrowInfo: function () {
                // 加载借款信息

                $.ajax({
                    url: "/Home/BorrowInfo",
                    data: "",
                    type: "post",
                    success: function (msg) {
                        if (msg && msg.Success) {
                            var obj = JSON.parse(msg.Msg);
                            if (obj.todayBorrowerDetail && obj.todayBorrowerDetail.length>0) {
                                $(".info-msg").html(obj.todayBorrowerDetail[0].text);
                            }
                        }
                    }
                });
            },
            toOnlineApply: function () { // 到在线预约
                $("body").animate({
                    scrollTop: $("#online_apply_wrap").offset().top
                }, 500);
            }
        }

        var home = new home();

        Window.JxWebSite.Home = home;

    });
</script>