@{
    ViewBag.Title = "专业成就普惠金融 - 吉信金融";
}
<!-- 首页banner -->
<section class="home-banner">
    <img src="../../images/banner01.png" alt="" width="100%" height="100%" data-id="01" onclick="location.href='/Home#online_apply_wrap'"/>
    <img src="../../images/banner02.png" alt="" width="100%" height="100%" data-id="02" style="display:none" />
    <img src="../../images/banner03.png" alt="" width="100%" height="100%" data-id="03" style="display:none" />
    <div class="swap-banner-wrap">
        <div class="swap-btn">
            @*<img class="current" src="../../images/banner01.png" width="80" height="50" data-sort="1" />
            <img src="../../images/banner02.png" width="80" height="50" data-sort="2">
            <img src="../../images/banner03.png" width="80" height="50" data-sort="3">*@
        </div>
    </div>
</section>
<!-- end首页banner -->
<!-- 特别消息显示区域 -->
<section class="info">
    <div class="info-wrap">
        <span class="float-left info-msg">
            <!-- <b>特别关注：</b>吉信正式运营一周年,隆重推出12月优惠活动 -->
            <!-- 这里滚动显示借款信息，每次一条,3s滚动一次 -->
            @*湖北武汉李先生借款4188元，用于购买6516G*@
        </span>
        <span class="float-right info-more"><a href="~/Product?nav=30">了解详情</a></span>
    </div>
</section>
<!-- end特别消息显示区域 -->
<!-- 产品中心区域 -->
<section class="product-center">
    <div class="product-nav-wrap">
        <nav class="product-nav">
            <ul>
                <li><a href="/Product?nav=30">产品中心</a></li>
                <!--
                <li class="current">生意e代</li>
                <li>精英e代</li>
                <li>优薪e代</li>
                <li>代发e代</li>
                <li>保单e代</li>
                <li>房产e代</li>
                    -->
            </ul>
        </nav>
    </div>
    <div class="product-detail-wrap">
        @{int i = 1;}
        
        @foreach (var product in ViewBag.ProductList)
        {
            <div class="float-left product-detail-box" data-product-id="@product.id">
                <div class="product-detail-btn-wrap" ><span>了解详情</span></div>
            @if(i%2 == 0){
                <div class="product-detail-img">
                    <img src="@product.homePicUrl" alt="@product.name" title="@product.name" width="100%" height="100%" />
                </div>
                <div class="product-detail-descript">
                    <p>@product.name</p>
                    <p>额度：@product.maxlimit 万</p>
                    <p>期数：@product.periods 期</p>
                    <p>适应群体：@product.fitGroup</p>
                </div>
            }
            else
            {
                <div class="product-detail-descript">
                    <p>@product.name</p>
                    <p>额度：@product.maxlimit 万</p>
                    <p>期数：@product.periods 期</p>
                    <p>适应群体：@product.fitGroup</p>
                </div>
                <div class="product-detail-img">
                    <img src="@product.homePicUrl" alt="@product.name" title="@product.name" width="100%" height="100%" />
                </div>
            }
            </div>
            i++;
        }
        <!--
        <div class="float-left product-detail-box">
            <div class="product-detail-descript">
                <p>房产e代</p>
                <p>额度：1-50万</p>
                <p>期数：6-24期</p>
                <p>适应群体：年龄22-58周岁，有购买人寿保险年龄22-58周岁，有购买人寿保险年龄22-58周岁，有购买人寿保险</p>
            </div>
            <div class="product-detail-img">
                <img src="/Images/home_fced.gif" alt="Alternate Text" width="100%" height="100%" />
            </div>
        </div>

        <div class="float-left product-detail-box">
            <div class="product-detail-img">
                <img src="/Images/home_yxed.gif" alt="Alternate Text" width="100%" height="100%" />
            </div>
            <div class="product-detail-descript">
                <p>房产e代</p>
                <p>额度：1-50万</p>
                <p>期数：6-24期</p>
                <p>适应群体：年龄22-58周岁，有购买人寿保险年龄22-58周岁，有购买人寿保险年龄22-58周岁，有购买人寿保险</p>
            </div>
        </div>
        <div class="float-left product-detail-box">
            <div class="product-detail-descript">
                <p>房产e代</p>
                <p>额度：1-50万</p>
                <p>期数：6-24期</p>
                <p>适应群体：年龄22-58周岁，有购买人寿保险年龄22-58周岁，有购买人寿保险年龄22-58周岁，有购买人寿保险</p>
            </div>
            <div class="product-detail-img">
                <img src="/Images/home_syed.gif" alt="Alternate Text" width="100%" height="100%" />
            </div>
        </div>
        <div class="float-left product-detail-box">
            <div class="product-detail-img">
                <img src="/Images/home_jyed.gif" alt="Alternate Text" width="100%" height="100%" />
            </div>
            <div class="product-detail-descript">
                <p>房产e代</p>
                <p>额度：1-50万</p>
                <p>期数：6-24期</p>
                <p>适应群体：年龄22-58周岁，有购买人寿保险年龄22-58周岁，有购买人寿保险年龄22-58周岁，有购买人寿保险</p>
            </div>
        </div>
            -->
        <!--
        <div class="row">
            <div class="cell" style="background:#FF0000">
                <span class="product-detail-btn">了解详情</span>
                <div style="background:url('../../images/product1.png') no-repeat;background-size:cover; width:252px;height:210px;"></div>
            </div>
            <div class="cell" style="background:#FF0000">
                <span class="product-detail-btn">了解详情</span>
                <div style="background:url('../../images/product2.png') no-repeat;background-size:cover; width:252px;height:210px;"></div>
            </div>
            <div class="cell" style="background:#FF0000">
                <span class="product-detail-btn">了解详情</span>
                <div style="background:url('../../images/product1.png') no-repeat;background-size:cover; width:252px;height:210px;"></div>
            </div>
            <div class="cell" style="background:#FF0000">
                <span class="product-detail-btn">了解详情</span>
                <div style="background:url('../../images/product2.png') no-repeat;background-size:cover; width:252px;height:210px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="cell" style="background:#FF0000">
                <span class="product-detail-btn">了解详情</span>
                <div style="background:url('../../images/product2.png') no-repeat;background-size:cover; width:252px;height:210px;"></div>
            </div>
            <div class="cell" style="background:#FF0000">
                <span class="product-detail-btn">了解详情</span>
                <div style="background:url('../../images/product1.png') no-repeat;background-size:cover; width:252px;height:210px;"></div>
            </div>
            <div class="cell" style="background:#FF0000">
                <span class="product-detail-btn">了解详情</span>
                <div style="background:url('../../images/product2.png') no-repeat;background-size:cover; width:252px;height:210px;"></div>
            </div>
            <div class="cell" style="background:#FF0000">
                <span class="product-detail-btn">了解详情</span>
                <div style="background:url('../../images/product1.png') no-repeat;background-size:cover; width:252px;height:210px;"></div>
            </div>
        </div>
            -->
    </div>
</section>
<!-- end产品中心区域 -->
<!-- 新闻中心与在线预约 -->
<section class="news-onlineApply">
    <!-- 新闻中心 -->
    <section class="news-wrap float-left table">
        <div class="title-wrap">
            <b><a href="/News?nav=50">新闻中心</a></b>
        </div>
        <!-- 显示10条新闻 -->
        @foreach (var news in ViewBag.NewsList)
        {
        <div class="row">
            <div class="cell"><a href="/News/Detail?nav=50&id=@news.id" >@news.title</a></div>
            <div class="cell">@DateTime.Parse("" + @news.createDate + "").ToString("yyyy/MM/dd")</div>
        </div>
        }
    </section>
    <!-- 在线预约 -->
    <section class="online-apply-wrap float-right" id="online_apply_wrap">
        <div class="online-apply-form-wrap">
            @*
            @Html.Partial("../Product/ClientApply", ViewBag.clientApply as IEnumerable<jx_website.Web.Models.ClientApply>,
                 new ViewDataDictionary { { "applyTitle", "在线预约" }, { "style", "display:block" }, { "titleStyleClass", "online_apply_title" } })
            *@
            <!--
            <form action="" method="post" id="h_ClientApplyForm" class="clientApplyForm" style="display:block;">
                <table border="0" width="100%" height="100%">
                    <tr>
                        <td colspan="2" class="online_apply_title">在线预约</td>
                    </tr>
                    <tr>
                        <td class="form-label">姓名：</td>
                        <td>
                            <input type="text" name="usernmae" id="h_username" class="input-text">
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">性别：</td>
                        <td>
                            <input type="radio" name="sex" value="男" id="h_sex1" checked style="border:0"><label for="h_sex1" style="padding-left:10px;">男</label>

                            <input type="radio" name="sex" value="女" id="h_sex0" style="margin-left:30px;border:0;"><label for="h_sex0" style="padding-left:10px;">女</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">联系电话：</td>
                        <td>
                            <input type="text" name="phone" id="h_phone" class="input-text">
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">现居住城市：</td>
                        <td>
                            <input type="text" name="address" id="h_address" class="input-text">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <span class="submit" id="h_online_apply_btn">提交</span>
                        </td>
                    </tr>
                </table>
            </form>
                -->
        </div>
    </section>
</section>

<!-- end新闻中心与在线预约 -->
<!-- 品牌宣传 -->
<section class="brand">
    <div class="descript">
        <span>品牌实力</span>
        <p style="padding-top:10px;">深圳市前海吉信互联网金融服务有限公司(简称"吉信金融")成立于2014年7月，总部位于深圳CBD中航中心，是一家致力于普惠金融的小微金融服务公司，以协助银行、P2P平台、各类金融机构为小微企业、个体工商户及中低收入人群提供快捷简便、免抵押、免担保小微信贷服务为宗旨。</p>
        <p>吉信金融由哈尔滨工业投资集团(简称"哈工投")控股，哈工投是哈尔滨市政府的工业产业管理和投资的运营平台，权属企业包括哈空调(600202)在内达40余户，涉及装备制造、电力设施配套、农业机械、塑料塑胶、食品、贸易、地产、金融服务等多个行业，资产规模近200亿元。</p>
        <p>截至2015年10月，吉信金融以建立起800人的经营队伍，开业22家营业部，发放人民币小微信贷4亿元，是的约8000名客户享受到了普惠金融服务，成功打造出自己的业务系统和风险体系，初步建立起稳定的资金渠道，获得诸多合作伙伴的认可。</p>
    </div>
    <div class="lead">
        <div class="lead-wrap lead-dsz">
            <p>李豫江先生（董事长）</p>
            <p>哈尔滨工业投资集团高管，历任哈尔滨轻工资产经营公司办公室副主任、改革处副处长，哈尔滨工业资产经营公司战略发展副部长、部长，哈尔滨古铁市场有限公司总经理，哈尔滨鑫瑞融资租凭有限公司董事长。</p>
        </div>
        <div class="lead-wrap lead-zjl">
            <p>龚勇先生（总经理）</p>
            <p>曾任中安信业高管，历任店长、区域经理、大区经理、融资总监，小额贷款行业从业经验10年以上，曾任深圳市中安财富资产管理有限公司执行董事、深圳普惠安投资管理有限公司董事总经理。</p>
        </div>
    </div>
    <div class="pic"></div>
</section>
<!-- end品牌宣传 -->
<!-- 品质宣传 -->
<section class="quality-publicity">
    <img src="../images/quality.png" alt="平台特性" width="100%" height="100%"/>
    <!-- <div class="quality-publicity-wrap">
        <img src="../../images/quality1.png" alt="国内网络" width="248" height="120"/>
        <img src="../../images/quality1.png" alt="在线留言" width="248" height="120"/>
        <img src="../../images/quality1.png" alt="专业服务" width="248" height="120"/>
        <img src="../../images/quality1.png" alt="品质保证" width="248" height="120"/>
    </div> -->
</section>
<!-- end品质宣传 -->
<!-- 友情连接 -->
<section class="links-wrap table">
    <!-- 4连接一行 -->
    <span>友情连接：</span>
    <div class="row">
        <div class="cell"><a href="http://www.hzbank.com.cn/" target="_blank"><img src="../../images/hzbank.png" alt="杭州银行" /></a></div>
        <div class="cell" style="text-align:center"><a href="http://www.bankofbeijing.com.cn/" target="_blank"><img src="../../images/bjbank.png" alt="北京银行" /></a></div>
        <div class="cell" style="text-align:center"><a href="http://www.boc.cn/" target="_blank"><img src="../../images/zgbank.png" alt="中国银行" /></a></div>
        <div class="cell" style="text-align:right"><a href="http://www.huaao-trust.com/" target="_blank"><img src="../../images/huaaoxintuo.png" alt="华奥信托" /></a></div>
    </div>
    <div class="row">
        <div class="cell"><a href="http://www.allinpay.com/" target="_blank"><img src="../../images/tlzf.png" alt="通联支付" /></a></div>
        <div class="cell" style="text-align:center"><a href="https://www.souyidai.com/" target="_blank"><img src="../../images/syd.png" alt="搜易贷" /></a></div>
        <div class="cell" style="text-align:center"><a href="http://www.88bank.com/" target="_blank"><img src="../../images/eltx.png" alt="e路同心" /></a></div>
        <div class="cell" style="text-align:right"><a href="http://www.darenloan.com/" target="_blank"><img src="../../images/darendai.png" alt="达人贷" /></a></div>
    </div>
</section>
<!-- end友情连接 -->

<script type="text/javascript">
    ; $(function () {

        var home = function (opts) {
            this.options = $.extend(true, home.DEFAULTS, opts);
            this.bannerSwapIdx = 0;
            this.init.call(this);
        }

        home.DEFAULTS = {

        }

        home.prototype = {
            constructor: home,
            init: function () {
                this._isBrowser();
                this._initBanner();
                this._initEvent();
                this._initTimeout();
                this.makeOnlineForm();
                this.loadBorrowInfo();
            },
            _isBrowser: function () {
                var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
                //alert(userAgent);
            },
            _initEvent: function () {
                /**初始化所有事件**/

                // 初始化首页banner切换按钮事件
                this._initBannerSwapEvent();

                // 产品明细鼠标移入移出事件
                this._initProductDetailEvent();

                // 窗体滚动事件
                //this._initWindowScroll();

                /**
                $("#h_online_apply_btn").click(function () {

                    var username = $("#h_username").val();
                    var sex = $("input[name='sex']:checked").val();
                    var phone = $("#h_phone").val();
                    var address = $("#h_address").val();

                    // 提交申请数据
                    commitClientFormData({
                        type:Window.JxWebSite.ClientApplyType.ClientSubscribe,
                        username: username,
                        sex: sex,
                        phone: phone,
                        address: address,
                        productId:""
                    }, function (obj) {
                        $("#h_username").val("");
                        $("input[name='sex']:checked").val("");
                        $("#h_phone").val("");
                        $("#h_address").val("");
                    });
                });
                **/

                $(".product-detail-box").click(function () {
                    location.href ="/Product/Detail?nav=30&id="+$(this).data("product-id");
                });
            },
            _initWindowScroll: function () {
                $(window).scroll(function () {
                    var $top = $(".top");
                    var $header = $(".header");
                    if ($(document).scrollTop() > 115) {
                        //$top.addClass("top-fixed");
                        $header.addClass("header-fixed");
                    } else {
                        //$top.removeClass("top-fixed");
                        $header.removeClass("header-fixed");
                    }
                });
            },
            _initProductDetailEvent: function () {

                // 产品明细鼠标移入移出事件
                /**
                $(".product-detail-wrap .cell").hover(function () {
                    var $this = $(this);
                    var _childrenList = $this.children();
                    $(_childrenList[1]).css("display", "none");
                    $(_childrenList[0]).css("display", "block");
                }).mouseleave(function () {
                    var $this = $(this);
                    var _childrenList = $this.children();
                    $(_childrenList[0]).css("display", "none");
                    $(_childrenList[1]).css("display", "block");
                    //$(_childrenList[0]).fadeToggle("slow");
                    //$(_childrenList[1]).fadeIn("slow");
                });
                **/

                $(".product-detail-box").hover(function () {
                    $(this).find(".product-detail-btn-wrap").show();
                }).mouseleave(function () {
                    $(this).find(".product-detail-btn-wrap").hide();
                });
            },
            // 初始化首页banner切换按钮事件
            _initBannerSwapEvent: function () {
                var _this = this;
                //banner按钮切换
                $(".swap-btn").find("img").click(function (a, b, c) {
                    _this.bannerSwapIdx = parseInt($(this).data("sort")) - 1;
                    _this._initBanner();
                });
            },
            // 初始化首页banner
            _initBanner: function () {
                var $swapbtn = $(".swap-btn");
                var imgList = $swapbtn.find("img");
                var checkedImg = $(imgList[this.bannerSwapIdx++]);
                var _this = this;
                $swapbtn.parent().prevAll().each(function (idx, obj) {
                    var _$obj = $(obj);
                    _$obj.css("display", (_$obj.data("id") == "0" + (_this.bannerSwapIdx))?"block":"none");
                });
                // $swapbtn.parent().parent().css({ "background-image": "url('" + checkedImg.attr("src") + "')", "background-repeat": "no-repeat" });

                for (var i = 0; i < imgList.length; i++) {
                    $(imgList[i]).removeClass("current");
                }
                checkedImg.addClass("current");

                if (this.bannerSwapIdx >= imgList.length) {
                    this.bannerSwapIdx = 0;
                }
            },
            _initTimeout: function () {
                //初始化首页banner滚动定时器
                this.setIntervalBack(this._initBanner, null, 3000, this);

                // 每隔10分钟刷新一次借款信息(基本没啥意义)
                this.setIntervalBack(this.loadBorrowInfo, null, 30000, this);
            },
            setIntervalBack: function (callback, args, time, _this) {
                return setInterval(function () {
                    callback.call(_this || window, args);
                }, time);
            },
            setTimeoutBack: function (callback, args, time, _this) {
                return setTimeout(function () {
                    callback.call(_this || window, args);
                }, time);
            },
            makeOnlineForm: function () {
                // 首页的在线预约和顶部的预约服务以及产品申请表单都是同一个，页面只能存在一个form表单，这里做下表单动态添加

                // 将弹出窗体的客户申请表单暂借用过来，并将其暂删除掉。
                var caf = $("#clientApplyForm");
                caf.remove();

                // 基于暂借过来的表单对象构建新的表单元素,用于显示在首页
                var $newCaf = $(caf[0].outerHTML);
                // 设置可见
                $newCaf.css("display", "block");

                //将新的表单元素显示到首页上
                $(".online-apply-form-wrap").html('<div class="online_apply_title">在线预约</div>'
                    + $newCaf[0].outerHTML);
            },
            loadBorrowInfo: function () {
                // 加载借款信息

                $.ajax({
                    url: "/Home/BorrowInfo",
                    data: "",
                    type: "post",
                    success: function (msg) {
                        if (msg && msg.Success) {
                            var obj = JSON.parse(msg.Msg);
                            if (obj.todayBorrowerDetail && obj.todayBorrowerDetail.length>0) {
                                $(".info-msg").html(obj.todayBorrowerDetail[0].text);
                            }
                        }
                    }
                });


            }
        }

        var home = new home();

        Window.JxWebSite.Home = home;

    });
</script>