@{
    ViewBag.Title = "加入我们";
}

<section class="joinus-wrap">
    <section class="joinus-content-wrap">

        <div class="joinus-contact box-shadow-2px">
            <p>目前的状况要一直延续吗？</p>
            <p>缺少上升空间？工作环境太差？</p>
            <p>职位提升无望？薪资到了天花板？</p>
            <p style="padding-top: 20px">遇到好公司，就别二了</p>
            <p style="padding-top: 20px">联系我们</p>
            <p style="padding-top: 30px">
                <span class="joinus-person">王小姐</span>
                <span class="joinus-phone">0755-6686 2251</span>
                @*<span class="joinus-mobile-phone">13417512595</span>*@
            </p>
        </div>

        <!-- 招聘职位 默认只展开第一个 -->
        @foreach (var job in @ViewBag.jobs)
        {
            <div class="joinus-job box-shadow-2px">
                <div class="joinus-job-title">
                    <p>@job.name</p>
                    <p>月薪：<span class="joinus-job-salary">@job.money</span>   工作地点：<span>@job.workAddress</span></p>
                    <span class="joinus-job-btn" data-job-id="joinus_job_@job.id">了解详情</span>
                </div>
                <div class="joinus-job-content hidden" id="joinus_job_@job.id">
                    <p>
                        <span>岗位职责：</span>
                        <div style="padding-left: 80px;">
                            @job.duty
                        </div>
                    </p>
                    <p>
                        <span>岗位要求：</span>
                        <div style="padding-left: 80px;">
                            @job.demand
                        </div>
                    </p>
                    <p>
                        <span>所属部门：</span>
                        <div style="padding-left: 80px;">
                            @job.dept
                        </div>
                    </p>

                </div>
            </div>
        }

    </section>
</section>

<script>
    ; $(function () {
        //$(".joinus-job-btn").bind("click", function () {
        //    var $this = $(this);
        //    var $jobId = $("#" + $this.data("job-id"));
        //    // var $parent = $jobId.parent();
        //    if ($jobId.is(":hidden")) {
        //        $jobId.show();
        //        $this.text("收起");
        //        // $parent.css("margin-bottom","10px");
        //    } else {
        //        $jobId.hide();
        //        $this.text("了解详情");
        //        // $parent.css("margin-bottom","0px");
        //    }
        //});


        $(".joinus-job-title").bind("click", function () {
            var $this = $(this).children().eq(2);
            var $jobId = $("#" + $this.data("job-id"));
            if ($jobId.is(":hidden")) {
                $jobId.show();
                $this.text("收起");
            } else {
                $jobId.hide();
                $this.text("了解详情");
            }
        });

        // 处理职责要求换行换行
        $(".joinus-job-content").find("div").each(function () {
            $(this).html($(this).text());
        });
    });

</script>
